<div class="row">

	<!-- Left Column -->
	<div>
		<div class="row">
			<div class="twelve columns">
				<!-- Header Content -->
				<div class="row">
					<div class="four columns">
						<%= image_tag ('logo_sogrape.jpg') %><br>
					</div>
		          	
		          	<div class="eight columns">
		            	<h3 class="show-for-small">Sogrape<hr/></h3>
		            	<div class="panel details">
		              		<h4 class="hide-for-small">Sogrape 
		              			<span class="secondary label radius">Edit</span>
		              			<hr/>
		              		</h4>
		            		<h5>Details</h5>
			            	<p><span class="label radius">Company Name</span> Sogrape</p>
			            	<p><span class="label radius">NIF</span> 123456789</p>
			            	<p><span class="label radius">SLUG</span> <a href="#">sogrape</a></p>
			            	<p><span class="label radius">Employees</span> 143</p>
			            	<p><span class="label radius">Admin E-Mail</span> <a href="#">admin@sogrape.com</a></p>
		            	</div>
					</div>
		        </div>
		        <!-- End Header Content -->
		    	<!-- Table Content -->
				<div class="row">
					<div class="twelve columns">
					    <table class="twelve">
							  <thead>
							    <tr>
							      <th>Cod.</th>
							      <th>Date</th>
							      <th>Ammount</th>
							      <th>Status</th>
							      <th>Payment</th>
							    </tr>
							  </thead>
							  <tbody>
							    <tr>
							      <td>COD2335</td>
							      <td>2012/10/10</td>
							      <td>129 €</td>
							      <td><span style="color:red;">Delayed</span></td>
							      <td><a href="#">Pay</a></td>
							    </tr>
							    <tr>
							      <td>COD7835</td>
							      <td>2012/09/10</td>
							      <td>129 €</td>
							      <td><span style="color:green;">Ok</span></td>
							      <td><a href="#">View Receipt</a></td>
							    </tr>
							    <tr>
							      <td>COD3835</td>
							      <td>2012/09/10</td>
							      <td>129 €</td>
							      <td><span style="color:green;">Ok</span></td>
							      <td><a href="#">View Receipt</a></td>
							    </tr>
							    <tr>
							      <td>COD1835</td>
							      <td>2012/09/10</td>
							      <td>129 €</td>
							      <td><span style="color:green;">Ok</span></td>
							      <td><a href="#">View Receipt</a></td>
							    </tr>
							  </tbody>
						</table>
						<!-- End Table Content -->
					</div>
		  		</div>
			</div>
		</div>
	</div>

</div>




