<div>

		  	<h3> Edit User Profile </h3>
		  	<hr/>
		  	<p>
		  		<span class=" radius label">User Name</span>
		  		<span><input type="text" placeholder="User Name" /></span>
		  	</p>
		  	<p>
		  		<span class="radius label">User Email</span>
		  		<span><input type="text" placeholder="User Email" /></span>
		  	</p>
		  	<p>
		  		<span class=" radius label">Password</span>
		  		<span><input type="password" placeholder="Password" /></span>
		  	</p>
		  	<p>
		  		<span class=" radius label">Comfirm Password</span>
		  		<span><input type="password" placeholder="Password" /></span>
		  	</p>

		  	<div style:"text-alig">
			<a class="button" href="home">Save</a>
		  	</div>

</div>