<div class="row">
	<div class="twelve columns">

	  	<h3> Edit Company </h3>
	  	<hr/>
	  	<p>
	  		<span class=" radius label">Company Name</span>
	  		<span><input type="text" placeholder="Company Name" /></span>
	  	</p>
	  	<p>
	  		<span class="radius label">NIF</span>
	  		<span><input type="text" placeholder="NIF" /></span>
	  	</p>
	  	<p>
	  		<span class=" radius label">Admin Email</span>
	  		<span><input type="text" placeholder="Email" /></span>
	  	</p>
	  	<p>
	  		<span class=" radius label">Logo/Brand</span>
	  		<span><input type="password" placeholder="Password" /></span>
	  	</p>

	  	<div style:"text-alig">
		<a class="button" href="home">Save</a>
	  	</div>

	</div>
</div>