<div class="row">
	<div class="three columns push-nine">

			<div class=" twelve columns row collapse">
			  <div class="eight mobile-four columns">
			    <input type="text" />
			  </div>
			  <div class="four mobile-one columns">
			    <a class="button expand postfix">Search</a>
			  </div>
			</div>

			<div class="twelve columns" style="padding-bottom:20px">
				<a href="#" class="th"><img src="http://placehold.it/200x200" alt="Foto da Pessoa"></a>
			</div>

			<div class="twelve columns" style="padding-bottom:20px">
				<div class="panel callout radius">
			      <h5>Formações</h5>
			      <p>Texto aqui</p>
			    </div>
		    </div>
			<div class="twelve columns" style="padding-bottom:20px">
				<div class="panel">
			      <h5>Calendário</h5>
			      <p>Texto aqui</p>
			    </div>
		    </div>


</div> 
	<!-- Cena Grande -->
	<div class="nine columns pull-three">

		  	<h3> Edit User Profile </h3>
		  	<hr/>
		  	<p>
		  		<span class=" radius label">User Name</span>
		  		<span><input type="text" placeholder="User Name" /></span>
		  	</p>
		  	<p>
		  		<span class="radius label">User Email</span>
		  		<span><input type="text" placeholder="User Email" /></span>
		  	</p>
		  	<p>
		  		<span class=" radius label">Password</span>
		  		<span><input type="password" placeholder="Password" /></span>
		  	</p>
		  	<p>
		  		<span class=" radius label">Comfirm Password</span>
		  		<span><input type="password" placeholder="Password" /></span>
		  	</p>

		  	<div style:"text-alig">
			<a class="button" href="home">Save</a>
		  	</div>

	</div>


</div>