<div class="row">
	<div class="twelve columns">
		<ul class="breadcrumbs">
			<li><a href="#">Home</a></li>
	  		<li><a href="#">Jobs</a></li>
	  		<li class="current"><a href="#">Junior Web Developer</a></li>
		</ul>
	</div>
</div>

<div class="row">
	<div class="twelve columns">
		<h3>Junior Web Developer</h3>
	    <div class="panel">
	    	<table class="twelve tableJobs">
			  <tbody>
			    <tr>
			      <td><span class="label radius">Job Offer</span></td>
			      <td>Junior Web Developer</td>
			    </tr>
			    <tr>
			      <td><span class="label radius">Required Education</span></td>
			      <td>BSc Computer Science</td>
			    </tr>
			    <tr>
			      <td><span class="label radius">Skills</span></td>
			      <td>ASP.NET, WCF, HTML5, CSS3</td>
			    </tr>
			    <tr>
			      <td><span class="label radius">Description</span></td>
			      <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in elit at lectus ullamcorper aliquam eget volutpat mauris. In hac habitasse platea dictumst. Duis non tellus quam. Donec et orci nisi. Aliquam erat volutpat. Donec in tristique magna. Nullam felis diam, commodo vel auctor sit amet, suscipit eget erat. Etiam vel leo tortor, quis adipiscing purus. Mauris condimentum, magna id scelerisque tincidunt, metus sapien tempor ligula, eget scelerisque orci neque condimentum mi. Maecenas eget nisl nisl. Morbi neque dolor, pellentesque nec tincidunt ac, tempor ac enim. 
			      </td>
			    </tr>
			    <tr>
			      <td><span class="label radius">Conditions</span></td>
			      <td> 5000€/Week</td>
			    </tr>
			  </tbody>
			</table>
		</div>
	</div>
</div>

<div class="row">
	<div class="twelve columns">
		<div class="panel">
			<div class="row">
				<div class="twelve columns">
					<table class="twelve tableJobs">
						<thead>
							<tr>
								<th>Cod.</th>
								<th>Name</th>
								<th>E-Mail</th>
								<th>Tel.</th>
								<th>Resume</th>
								<th>Status</th>
							</tr>
						</thead>
						<tbody>
							<tr>
						    	<td>CAN1234</td>
						      	<td>John Doe</td>
						      	<td>johndoe@example.com</td>
						      	<td>9112312312</td>
						      	<td><a href="#">Link</a></td>
						      	<td>
						      		<form class="custom" style="margin:0;"><label for="checkbox1"><input type="checkbox" id="checkbox1" style="display: none;"><span class="custom checkbox"></span></label></form>
						      	</td>
						    </tr>
							<tr>
						    	<td>CAN1234</td>
						      	<td>John Doe</td>
						      	<td>johndoe@example.com</td>
						      	<td>9112312312</td>
						      	<td><a href="#">Link</a></td>
						      	<td>
						      		<form class="custom" style="margin:0;"><label for="checkbox1"><input type="checkbox" id="checkbox1" style="display: none;"><span class="custom checkbox"></span></label></form>
						      	</td>
						    </tr>
							<tr>
						    	<td>CAN1234</td>
						      	<td>John Doe</td>
						      	<td>johndoe@example.com</td>
						      	<td>9112312312</td>
						      	<td><a href="#">Link</a></td>
						      	<td>
						      		<form class="custom" style="margin:0;"><label for="checkbox1"><input type="checkbox" id="checkbox1" style="display: none;"><span class="custom checkbox"></span></label></form>
						      	</td>
						    </tr>
							<tr>
						    	<td>CAN1234</td>
						      	<td>John Doe</td>
						      	<td>johndoe@example.com</td>
						      	<td>9112312312</td>
						      	<td><a href="#">Link</a></td>
						      	<td>
						      		<form class="custom" style="margin:0;"><label for="checkbox1"><input type="checkbox" id="checkbox1" style="display: none;"><span class="custom checkbox"></span></label></form>
						      	</td>
						    </tr>
							<tr>
						    	<td>CAN1234</td>
						      	<td>John Doe</td>
						      	<td>johndoe@example.com</td>
						      	<td>9112312312</td>
						      	<td><a href="#">Link</a></td>
						      	<td>
						      		<form class="custom" style="margin:0;"><label for="checkbox1"><input type="checkbox" id="checkbox1" style="display: none;"><span class="custom checkbox"></span></label></form>
						      	</td>
						    </tr>
							<tr>
						    	<td>CAN1234</td>
						      	<td>John Doe</td>
						      	<td>johndoe@example.com</td>
						      	<td>9112312312</td>
						      	<td><a href="#">Link</a></td>
						      	<td>
						      		<form class="custom" style="margin:0;"><label for="checkbox1"><input type="checkbox" id="checkbox1" style="display: none;"><span class="custom checkbox"></span></label></form>
						      	</td>
						    </tr>
							<tr>
						    	<td>CAN1234</td>
						      	<td>John Doe</td>
						      	<td>johndoe@example.com</td>
						      	<td>9112312312</td>
						      	<td><a href="#">Link</a></td>
						      	<td>
						      		<form class="custom" style="margin:0;"><label for="checkbox1"><input type="checkbox" id="checkbox1" style="display: none;"><span class="custom checkbox"></span></label></form>
						      	</td>
						    </tr>
							<tr>
						    	<td>CAN1234</td>
						      	<td>John Doe</td>
						      	<td>johndoe@example.com</td>
						      	<td>9112312312</td>
						      	<td><a href="#">Link</a></td>
						      	<td>
						      		<form class="custom" style="margin:0;"><label for="checkbox1"><input type="checkbox" id="checkbox1" style="display: none;"><span class="custom checkbox"></span></label></form>
						      	</td>
						    </tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="row">
				<div class="eight columns">
					<ul class="pagination">
						<li class="arrow unavailable"><a href="">&laquo;</a></li>
						<li class="current"><a href="">1</a></li>
						<li><a href="">2</a></li>
						<li><a href="">3</a></li>
						<li><a href="">4</a></li>
						<li class="unavailable"><a href="">&hellip;</a></li>
						<li><a href="">12</a></li>
						<li><a href="">13</a></li>
						<li class="arrow"><a href="">&raquo;</a></li>
					</ul>
				</div>
				<div class="four columns">
					<div class="row collapse">
				  		<div class="eight mobile-four columns">
				    		<input type="text" />
				  		</div>
				  		<div class="four mobile-one columns">
				    		<a class="button expand postfix">Search</a>
				  		</div>
					</div>
				</div>
			</div>	
		</div>
		<!-- END PANEL -->
	</div>
	<!-- END BOTTOM -->
</div>