<div class="row">
	<div class="twelve columns">
		<ul class="breadcrumbs">
			<li><a href="#">Home</a></li>
	  		<li class="current"><a href="#">Jobs</a></li>
		</ul>
	</div>
</div>
<!-- Main Grid Section -->

<div class="row">
	<div class="twelve columns">

	<h2>Jobs</h2>
	
	<div class="row">
		<div class="four columns">
			<dl class="tabs pill">
  				<dd class="active"><a href="#pillTab1">A-Z</a></dd>
  				<dd><a href="#pillTab2">Z-A</a></dd>
			</dl>
		</div>
		<div class="four columns">
			<dl class="sub-nav">
		  		<dt>Filter:</dt>
		  		<dd class="active"><a href="#">All</a></dd>
		  		<dd><a href="#">Open</a></dd>
		  		<dd><a href="#">Selection</a></dd>
		  		<dd><a href="#">Closed</a></dd>
			</dl>
		</div>
		<div class="four columns">
			<div class="row collapse">
  			<div class="eight mobile-three columns">
    			<input type="text" />
  			</div>
  			<div class="four mobile-one columns">
    			<a class="button expand postfix">Search</a>
  			</div>
		</div>
		</div>
	</div>
		<table class="twelve">
		  <thead>
		    <tr>
		      <th>Job Offer</th>
		      <th>Date</th>
		      <th>Openings</th>
		      <th>Candidates</th>
		      <th>Status</th>
		      <th>Actions</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <td><a href="#">Junior Web Developer</a></td>
		      <td>2012/11/10</td>
		      <td>10</td>
		      <td>2</td>
		      <td><span style="color:green;">Open</span></td>
		      <td><a href="#">Edit </a>|<a href="#"> Remove </a></td>
		    </tr>
		    <tr>
		      <td><a href="#">Junior Web Designer</a></td>
		      <td>2012/11/10</td>
		      <td>2</td>
		      <td>20</td>
		      <td><span style="color:blue;">Selection</span></td>
		      <td><a href="#">Edit </a>|<a href="#"> Remove </a></td>
		    </tr>
		    <tr>
		      <td><a href="#">Architect</a></td>
		      <td>2012/11/10</td>
		      <td>4</td>
		      <td>15</td>
		      <td><span style="color:blue;">Selection</span></td>
		      <td><a href="#">Edit </a>|<a href="#"> Remove </a></td>
		    </tr>
		    <tr>
		      <td><a href="#">Senior Developer</a></td>
		      <td>2012/11/10</td>
		      <td>7</td>
		      <td>1</td>
		      <td><span style="color:red;">Closed</span></td>
		      <td><a href="#">Edit </a>|<a href="#"> Remove </a></td>
		    </tr>
		    <tr>
		      <td><a href="#">Senior Consultant</a></td>
		      <td>2012/11/10</td>
		      <td>1</td>
		      <td>0</td>
		      <td><span style="color:green;">Open</span></td>
		      <td><a href="#">Edit </a>|<a href="#"> Remove </a></td>
		    </tr>
		    <tr>
		      <td><a href="#">Architect</a></td>
		      <td>2012/11/10</td>
		      <td>4</td>
		      <td>15</td>
		      <td><span style="color:blue;">Selection</span></td>
		      <td><a href="#">Edit </a>|<a href="#"> Remove </a></td>
		    </tr>
		    <tr>
		      <td><a href="#">Senior Developer</a></td>
		      <td>2012/11/10</td>
		      <td>7</td>
		      <td>1</td>
		      <td><span style="color:red;">Closed</span></td>
		      <td><a href="#">Edit </a>|<a href="#"> Remove </a></td>
		    </tr>
		    <tr>
		      <td><a href="#">Senior Consultant</a></td>
		      <td>2012/11/10</td>
		      <td>1</td>
		      <td>0</td>
		      <td><span style="color:green;">Open</span></td>
		      <td><a href="#">Edit </a>|<a href="#"> Remove </a></td>
		    </tr>
		  </tbody>
		</table>
		<ul class="pagination">
		  <li class="arrow unavailable"><a href="">&laquo;</a></li>
		  <li class="current"><a href="">1</a></li>
		  <li><a href="">2</a></li>
		  <li><a href="">3</a></li>
		  <li><a href="">4</a></li>
		  <li class="unavailable"><a href="">&hellip;</a></li>
		  <li><a href="">12</a></li>
		  <li><a href="">13</a></li>
		  <li class="arrow"><a href="">&raquo;</a></li>
		</ul>
	</div>
</div>






