<div class="row">
	<div class="twelve columns">
		<h3>Apply to Junior Web Developer</h3>
		<div class="panel">
			<div class="row">
				<div class="twelve columns">
					
			    	<table class="twelve tableJobs">
					  <tbody>
					    <tr>
					      <td><span class="label radius">Job Offer</span></td>
					      <td>Junior Web Developer</td>
					    </tr>
					    <tr>
					      <td><span class="label radius">Required Education</span></td>
					      <td>BSc Computer Science</td>
					    </tr>
					    <tr>
					      <td><span class="label radius">Skills</span></td>
					      <td>ASP.NET, WCF, HTML5, CSS3</td>
					    </tr>
					    <tr>
					      <td><span class="label radius">Description</span></td>
					      <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in elit at lectus ullamcorper aliquam eget volutpat mauris. In hac habitasse platea dictumst. Duis non tellus quam. Donec et orci nisi. Aliquam erat volutpat. Donec in tristique magna. Nullam felis diam, commodo vel auctor sit amet, suscipit eget erat. Etiam vel leo tortor, quis adipiscing purus. Mauris condimentum, magna id scelerisque tincidunt, metus sapien tempor ligula, eget scelerisque orci neque condimentum mi. Maecenas eget nisl nisl. Morbi neque dolor, pellentesque nec tincidunt ac, tempor ac enim. 
					      </td>
					    </tr>
					    <tr>
					      <td><span class="label radius">Conditions</span></td>
					      <td> 5000€/Week</td>
					    </tr>
					  </tbody>
					</table>
				</div>
			</div>

			<div class="row">
				<div class="twelve columns">
					<dl class="tabs">
						<dd class="active"><a href="#simple1">Apply Via CV</a></dd>
						<dd><a href="#simple2">Apply Via Linked-In</a></dd>
					</dl>

					<ul class="tabs-content">
						<li class="active" id="simple1Tab">
							<form>
								<div class="row">
									<div class="two mobile-one columns">
										<label class="right inline">Name:</label>
									</div>
									<div class="ten mobile-three columns">
										<input type="text" class="eight" />
									</div>
								</div>
								<div class="row">
									<div class="two mobile-one columns">
										<label class="right inline">E-Mail:</label>
									</div>
									<div class="ten mobile-three columns">
										<input type="text" class="eight" />
									</div>
								</div>
								<div class="row">
									<div class="two mobile-one columns">
										<label class="right inline">Tel.:</label>
									</div>
									<div class="ten mobile-three columns">
										<input type="text" class="three" />
									</div>
								</div>
								<div class="row">
									<div class="two mobile-one columns">
										<label class="right inline">CV.:</label>
									</div>
									<div class="ten mobile-three columns">
										<div class="row collapse">
	  										<div class="six mobile-three columns">
	    										<input type="text" />
		  									</div>
	  										<div class="two mobile-one columns">
	    										<a class="button expand postfix">Browse</a>
	  										</div>
	  										<div class="four columns">
	  										</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="two mobile-one columns">
										
									</div>
									<div class="ten mobile-three columns">
										<a class="radius button" href="#">Apply</a>
									</div>
								</div>
							</form>
						</li>
						<li id="simple2Tab">
							<div style="text-align: center;">
								<a class="radius button" href="#">Apply Via Linked In</a>
							</div>
						</li>						
					</ul>
				</div>
			</div>

			
		</div>
	</div>
</div>