	  <!-- Main Grid Section -->

<div class="row">

	<h2>Companies</h2>
		<table class="twelve">
		  <thead>
		    <tr>
		      <th>Name</th>
		      <th>SLUG</th>
		      <th>NIF</th>
		      <th>Estado</th>
		      <th>Actions</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <td><a href="/companies/1">Sogrape</a></td>
		      <td><a href="#">sogrape.rasohr.com</a></td>
		      <td>123456789</td>
		      <td><span style="color:green;">Ok</span></td>
		      <td><a href="#">Edit </a>|<a href="#"> Block </a>|<a href="#"> Remove </a></td>
		    </tr>
		    <tr>
		      <td><a href="/companies/1">Group Buddies</a></td>
		      <td><a href="#">gb.rasohr.com</a></td>
		      <td>223234344</td>
		      <td><span style="color:red;">Em atraso</span></td>
		      <td><a href="#">Edit </a>|<a href="#"> Block </a>|<a href="#"> Remove </a></td>
		    </tr>
		    <tr>
		      <td><a href="/companies/1">Sonae</a></td>
		      <td><a href="#">sonae.rasohr.com</a></td>
		      <td>934776433</td>
		      <td><span style="color:red;">Em atraso</span></td>
		      <td><a href="#">Edit </a>|<a href="#"> Block </a>|<a href="#"> Remove </a></td>
		    </tr>
		    <tr>
		      <td><a href="/companies/1">Universidade do Minho</a></td>
		      <td><a href="#">um.rasohr.com</a></td>
		      <td>428746183</td>
		      <td><span style="color:green;">Ok</span></td>
		      <td><a href="#">Edit </a>|<a href="#"> Block </a>|<a href="#"> Remove </a></td>
		    </tr>
		  </tbody>
		</table>
	  </div>




