	  <!-- Main Grid Section -->

<div class="row">

	<ul class="breadcrumbs">
	  <li><a href="#">Home</a></li>
	  <li class="current"><a href="#">Invoices</a></li>
	</ul>

	<h2>Invoices</h2>
	
	<dl class="sub-nav">
  		<dt>Filter:</dt>
  		<dd class="active"><a href="#">All</a></dd>
  		<dd><a href="#">Ok</a></dd>
  		<dd><a href="#">Delayed</a></dd>
	</dl>
		<table class="twelve">
		  <thead>
		    <tr>
		      <th>Cod.</th>
		      <th>Company</th>
		      <th>Date</th>
		      <th>Ammount</th>
		      <th>Status</th>
		      <th>Actions</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <td>COD2335</td>
		      <td><a href="/companies/1">Sogrape</a></td>
		      <td>2012/10/10</td>
		      <td>129 €</td>
		      <td><span style="color:red;">Delayed</span></td>
		      <td><a href="#">Confirm Payment</a></td>
		    </tr>
		    <tr>
		      <td>COD7635</td>
		      <td><a href="/companies/1">Group Buddies</a></td>
		      <td>2012/10/10</td>
		      <td>30 €</td>
		      <td><span style="color:green;">Ok</span></td>
		      <td><a href="#">Un-Confirm Payment</a></td>
		    </tr>
		    <tr>
		      <td>COD5335</td>
		      <td><a href="/companies/1">Sonae</a></td>
		      <td>2012/10/10</td>
		      <td>2130 €</td>
		      <td><span style="color:green;">Ok</span></td>
		      <td><a href="#">Un-Confirm Payment</a></td>
		    </tr>
		    <tr>
		      <td>COD3435</td>
		      <td><a href="/companies/1">Universidade do Minho</a></td>
		      <td>2012/10/10</td>
		      <td>3290 €</td>
		      <td><span style="color:green;">Ok</span></td>
		      <td><a href="#">Un-Confirm Payment</a></td>
		    </tr>
		    <tr>
		      <td>COD2335</td>
		      <td><a href="/companies/1">Sogrape</a></td>
		      <td>2012/09/10</td>
		      <td>129 €</td>
		      <td><span style="color:red;">Delayed</span></td>
		      <td><a href="#">Confirm Payment</a></td>
		    </tr>
		    <tr>
		      <td>COD2335</td>
		      <td><a href="/companies/1">Group Buddies</a></td>
		      <td>2012/09/10</td>
		      <td>30 €</td>
		      <td><span style="color:green;">Ok</span></td>
		      <td><a href="#">Un-Confirm Payment</a></td>
		    </tr>
		    <tr>
		      <td>COD1235</td>
		      <td><a href="/companies/1">Sonae</a></td>
		      <td>2012/09/10</td>
		      <td>2000 €</td>
		      <td><span style="color:green;">Ok</span></td>
		      <td><a href="#">Un-Confirm Payment</a></td>
		    </tr>
		  </tbody>
		</table>
		<ul class="pagination">
		  <li class="arrow unavailable"><a href="">&laquo;</a></li>
		  <li class="current"><a href="">1</a></li>
		  <li><a href="">2</a></li>
		  <li><a href="">3</a></li>
		  <li><a href="">4</a></li>
		  <li class="unavailable"><a href="">&hellip;</a></li>
		  <li><a href="">12</a></li>
		  <li><a href="">13</a></li>
		  <li class="arrow"><a href="">&raquo;</a></li>
		</ul>
	  </div>





