<div class="row">
	<div class="twelve columns">
		<ul class="breadcrumbs">
			<li><a href="#">Home</a></li>
	  		<li><a href="#">Companies</a></li>
	  		<li class="current"><a href="#">Sogrape</a></li>
		</ul>
	</div>
</div>

<div class="row">
	
	<!-- Right Column -->
	<div class="nine columns push-three details_company">
		<div class="row">
			<div class="twelve columns">
				<!-- Header Content -->
				<div class="row">
					<div class="four columns">
						<%= image_tag ('logo_sogrape.jpg') %><br>
					</div>
		          	
		          	<div class="eight columns">
		            	<h3 class="show-for-small">Sogrape<hr/></h3>
		            	<div class="panel details">
		              		<h4 class="hide-for-small">Sogrape<hr/></h4>
		            		<h5>Details</h5>
			            	<p><span class="label radius">Company Name</span> Sogrape</p>
			            	<p><span class="label radius">NIF</span> 123456789</p>
			            	<p><span class="label radius">SLUG</span> sogrape.rasohr.com</p>
			            	<p><span class="label radius">Employees</span> 143</p>
		            	</div>
					</div>
		        </div>
		        <!-- End Header Content -->
		    	<!-- Table Content -->
				<div class="row">
					<div class="twelve columns">
					    <table class="twelve">
							  <thead>
							    <tr>
							      <th>Cod.</th>
							      <th>Date</th>
							      <th>Ammount</th>
							      <th>Status</th>
							      <th>Actions</th>
							    </tr>
							  </thead>
							  <tbody>
							    <tr>
							      <td>COD2335</td>
							      <td>2012/10/10</td>
							      <td>129 €</td>
							      <td><span style="color:red;">Delayed</span></td>
							      <td><a href="#">Confirm Payment</a></td>
							    </tr>
							    <tr>
							      <td>COD7835</td>
							      <td>2012/09/10</td>
							      <td>129 €</td>
							      <td><span style="color:green;">Ok</span></td>
							      <td><a href="#">Un-Confirm Payment</a></td>
							    </tr>
							    <tr>
							      <td>COD3835</td>
							      <td>2012/09/10</td>
							      <td>129 €</td>
							      <td><span style="color:green;">Ok</span></td>
							      <td><a href="#">Un-Confirm Payment</a></td>
							    </tr>
							    <tr>
							      <td>COD1835</td>
							      <td>2012/09/10</td>
							      <td>129 €</td>
							      <td><span style="color:green;">Ok</span></td>
							      <td><a href="#">Un-Confirm Payment</a></td>
							    </tr>
							  </tbody>
						</table>
						<!-- End Table Content -->
					</div>
		  		</div>
			</div>
		</div>
	</div>
	<!-- End Right Column -->
	<!-- Left Column -->
	<div class="three columns pull-nine">
      	<table class="twelve">
		  <thead>
		    <tr>
		      <th>Companies</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <td><a href="/companies/1">Sogrape</a></td>
		    </tr>
		    <tr>
		      <td><a href="/companies/1">Group Buddies</a></td>
		    </tr>
		    <tr>
		      <td><a href="/companies/1">Sonae</a></td>
		    </tr>
		    <tr>
		      <td><a href="/companies/1">Universidade do Minho</a></td>
		    </tr>
		  </tbody>
		</table>
    </div>
    <!-- End Left Column -->
</div>