  <!-- First Band (Image) -->
    
  <div class="row">
    <div class="twelve columns">
	<div id="signup">
    	<div class="panel">
			<h4>Administrator Details</h4>
				<hr />
				<form>
				    <label>Username</label>
				    <input type="text" placeholder="Username" />

				    <label>Email</label>
				    <input type="text" placeholder="User email" />

				    <label>Password</label>
				    <input type="password" placeholder="Password" />

				    <label>Confirm password</label>
				    <input type="password" placeholder="Password" />
			    	<hr />
				    <p style="text-align: center"><a class="button" href="#">Try it now!</a></p>
				</form>


			</div>
		</div>
  	</div>
  
 
  </div>