  <!-- First Band (Image) -->
    
  <div class="row">
    <div class="twelve columns">
	<div id="signup">
    	<div class="panel">
			<h4>Welcome to RASO system login</h4>	
			<p>Please fill in the form with your data</p>
				<hr />		
				<form>
				    <label>Username</label>
				    <input type="text" placeholder="Company name" />

				    <label>Password</label>
					<input type="password" placeholder="Password" />
					<hr />
				    <p style="text-align: center"><a class="button" href="#">Login!</a></p>
				</form>


			</div>
		</div>
  	</div>
  
 
  </div>