  <!-- First Band (Image) -->
    
  <div class="row">
    <div class="twelve columns">
	<div id="signup">
    	<div class="panel">
			<h4>Welcome to RASO registation process</h4>	
			<p>Please fill in the form with your company information</p>
				<hr />		
				<form>
				    <label>Complete Company name</label>
				    <input type="text" placeholder="Company name" />

				    <label>Slug</label>
					<div class="row collapse">
				      <div class="nine mobile-three columns">
				        <input type="text" placeholder="Company slug" />
				      </div>
				      <div class="three mobile-one columns">
				        <span class="postfix">.rasohr.com</span>
				      </div>
				    </div>
				    <label>Email</label>
				    <input type="text" placeholder="Email" />

					<hr />
				    <p style="text-align: center"><a class="button" href="/signup2">Get started!</a></p>
				</form>


			</div>
		</div>
  	</div>
  
 
  </div>